html {
  overflow-y: hidden;
  overflow-x: auto;
  display: inline-block;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  /* pour ie et mozilla */
  -ms-overlow-style: none;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
  background-color: #282828;
}

body {
  margin: 0;
  padding: 0;
}

.blocHorizontal {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.slide {
  display: block;
  width: 100% !important;
  min-height: 1080px;
  height: 100% !important;
  min-width: 1920px;
  top: 0;
  font-size: 30px;
}

.slide img {
  display: block;
  width: 100% !important;
  min-height: 800px;
  height: 100% !important;
  min-width: 1920px;
}

.manneken-pis {
  width: 1432px !important;
  max-width: 1432px !important;
  height: 1080px;
}

.container {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  display: none;
}

.left-div {
  background-color: #282828;
  width: 21%;
  min-width: 300px;
  height: 400vw;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
}
/* container description */

.description {
  width: 20%;
  min-width: 300px;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  bottom: 0;
}

/* titre */

.title {
  z-index: 4;
  font-size: 5.2vw;
  margin-left: 10%;
  margin-top: 0%;
  color: white;
  font-family: "Noto Serif", serif;
}

/* texte */

.text {
  z-index: 4;
  height: auto;
  white-space: normal !important;
  color: white;
  margin-left: 10%;
  margin-top: -18%;
  width: 87%;
  font-size: 1vw;
}

/* data */

.data {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1.2vw;
  margin-left: 10%;
  width: 87%;
}

.data-2 {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  margin-left: 10%;
  margin-top: -15%;
  width: 87%;
}

.num {
  font-size: 30px;
}

.delay {
  margin-left: 2%;
  margin-top: 12%;
  opacity: 0;
  animation: 1s appearance;
  animation-delay: 2.2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes appearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* graphique */

.absolute {
  z-index: 4;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 20px;
  color: white;
}

#myChart {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* animation */

#animation_container {
  position: fixed;
  z-index: 2;
  left: 20%;
}

#canvas {
  display: block;
  width: 82% !important;
  min-height: 680px;
  height: 100% !important;
  min-width: 1520px;
}

#dom_overlay_container {
  pointer-events: none;
  overflow: hidden;
  display: block;
}

/* full screen */

#fullscreen-button {
  cursor: pointer;
  background-color: #282828;
  padding: 0.5% 1%;
  border-radius: 25px;
  color: aliceblue;
  position: fixed;
  z-index: 80;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* flèche

    .arrows {
      display: flex;
      flex-direction: row;
      position: fixed;
      width: 123%;
      left: 2%;
      justify-content: space-between;
      z-index: 90;
      bottom: 0;
    }

    .arrows img {
      width: 20%;
      cursor: pointer;
    }

    .info {
      position: absolute;
      z-index: 100;
      color: antiquewhite;
    } 
*/

.mobile-restriction {
  display: none;
}

/* animation */

.unreveal {
  opacity: 0;
}

.reveal {
  opacity: 1 !important;
  transition: 1s;
}

@media only screen and (max-device-width: 1200px) {
  html {
    white-space: normal;
  }
  .mobile-restriction {
    display: flex;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
  }
  .container {
    display: none;
  }
}

/* loader */

.loader {
  position: absolute;
  z-index: 100;
  width: 105%;
  height: 100%;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fondu-out {
  display: none;
  transition: opacity 0.4s ease-out;
}

@import "compass/css3";
.loader,
.check-out,
#outline,
.loader:before,
.loader:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#outline {
  stroke-dasharray: 2.427766571px, 242.7766571045px;
  stroke-dashoffset: 0;
  animation: anim 1.6s linear infinite;
}
@keyframes anim {
  12.5% {
    stroke-dasharray: 33.9887319946px, 242.7766571045px;
    stroke-dashoffset: -26.7054322815px;
  }
  43.75% {
    stroke-dasharray: 84.9718299866px, 242.7766571045px;
    stroke-dashoffset: -84.9718299866px;
  }
  100% {
    stroke-dasharray: 2.427766571px, 242.7766571045px;
    stroke-dashoffset: -240.3488905334px;
  }
}
.check-out {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
}
